<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/home_style.css">
</head>
<body>
    <h1>About_read(list)</h1>
            <a href="/people/read">people_read</a>
            <a href="/people/money/read">money_read</a>
            <a href="/people/cookie/read">cookie_read</a>
            <a href="/people/map/read">map_read</a>
        
        
    <h1>Creat_info</h1>      
            <a href="/people/creat">people_creat</a>
            <a href="/people/money/creat">money_creat</a>
            <a href="/people/cookie/creat">cookie_creat</a>
            <a href="/people/map/creat">map_creat</a>
    
</body>
</html>